@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Custom base styles */
body {
	background-color: #0e0f15;
	color: #e0e0e0;
	font-family: 'Inter', sans-serif;
}
#app {
	font-weight: normal;
	width: 100%;
}

.navbar-item {
	@apply inline-flex items-center px-6 py-3 text-base font-normal rounded-lg text-white leading-snug;
}

.navbar-item:hover {
	@apply bg-[#1B243690];
}

.navbar-item-selected {
	@apply bg-[#1B2436];
	box-shadow: inset 1px 3px 4px 0 rgb(82, 111, 127, 0.25);
}

.period-toggle-button {
	@apply inline-flex items-center justify-center w-28 md:w-36 text-center py-3 text-base font-normal rounded-lg text-white leading-snug;
}

.period-toggle-button:hover {
	@apply bg-[#282F4580] cursor-pointer;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
	width: 14px;
	background: #23263a;
}

::-webkit-scrollbar-thumb {
	background: #3a4d6c;
	border-radius: 8px;
	border: 2px solid #23263a;
}

::-webkit-scrollbar-thumb:hover {
	background: #31405e;
}

::-webkit-scrollbar-corner {
	background: #23263a;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #3a4d6c #23263a;
}
