@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

/* Tailwind v4 Custom Theme Variables */
@theme {
	--color-background: #0e0f15;
	--color-surface: #181c2a;
	--color-surface-light: #1e2332;
	--color-soft: #282f45;
	--color-soft-hover: #323852;
	--color-accent-run: #6366f1;
	--color-accent-run-hover: #5855eb;
	--color-accent-walk: #fbbf24;
	--color-text: #ffffff;
	--color-muted: rgb(255 255 255 / 0.6);
	--color-muted-light: rgb(255 255 255 / 0.8);

	--font-family-inter: Inter, sans-serif;
}

@layer utilities {
	.container {
		@apply mx-auto px-4;
	}
}

/* Custom base styles */
body {
	background-color: #0e0f15;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
}
#app {
	font-weight: normal;
	width: 100%;
}

.navbar-item {
	@apply inline-flex items-center rounded-lg px-6 py-3 text-base leading-snug font-normal text-white;
}

.navbar-item:hover {
	@apply bg-[#1B243690];
}

.navbar-item-selected {
	@apply bg-[#1B2436];
	box-shadow: inset 1px 3px 4px 0 rgb(82, 111, 127, 0.25);
}

.period-toggle-button {
	@apply inline-flex w-28 items-center justify-center rounded-lg py-3 text-center text-base leading-snug font-normal text-white md:w-36;
}

.period-toggle-button:hover {
	@apply cursor-pointer bg-[#282F4580];
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
	width: 14px;
	background: #23263a;
}

::-webkit-scrollbar-thumb {
	background: #3a4d6c;
	border-radius: 8px;
	border: 2px solid #23263a;
}

::-webkit-scrollbar-thumb:hover {
	background: #31405e;
}

::-webkit-scrollbar-corner {
	background: #23263a;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #3a4d6c #23263a;
}

.gold-rank-banner,
.silver-rank-banner,
.bronze-rank-banner {
	@apply border-muted-light relative mb-2 flex aspect-[1/2] w-28 flex-col items-center justify-between rounded-b-3xl border-4 border-t-0 py-4 text-white shadow-lg md:w-32;
}

.gold-rank-banner {
	background: linear-gradient(to bottom, #b28900, #d1ac28);
	@apply relative pt-10;
}
.silver-rank-banner {
	background: linear-gradient(to bottom, #3b4c63, #949ca8);
	@apply relative pt-20;
}

.bronze-rank-banner {
	background: linear-gradient(to bottom, #5a3d2b, #a96d47);
	@apply relative pt-32;
}

.gold-rank-banner-overlay,
.silver-rank-banner-overlay,
.bronze-rank-banner-overlay {
	@apply absolute top-0 -left-1 z-1 w-[calc(100%+8px)];
	background: linear-gradient(
		to bottom,
		var(--color-background) 0%,
		var(--color-background) 40%,
		rgba(14, 15, 21, 0.95) 45%,
		rgba(14, 15, 21, 0.85) 55%,
		rgba(14, 15, 21, 0.7) 65%,
		rgba(14, 15, 21, 0.5) 75%,
		rgba(14, 15, 21, 0.3) 85%,
		rgba(14, 15, 21, 0.1) 95%,
		transparent 100%
	);
}
.gold-rank-banner-overlay {
	@apply h-1/4;
}
.silver-rank-banner-overlay {
	@apply h-2/4;
}
.bronze-rank-banner-overlay {
	@apply h-3/4;
}
