@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Custom base styles */
body {
    background-color: #0e0f15;
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
}
#app {
    margin: 0 auto;
    font-weight: normal;
}

.navbar-item {
    @apply inline-flex items-center px-6 py-3 text-base font-normal rounded-lg text-white leading-snug;
}

.navbar-item:hover {
    @apply bg-[#1B243690];
}

.navbar-item-selected {
    @apply bg-[#1B2436];
    box-shadow: inset 1px 3px 4px 0 rgb(82, 111, 127, 0.25);
}
